@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.inputBox {
    display: grid;
    place-items: center;
    height:100vh; 
    background-color:#f8f8f8;
}

.inputBox_field {
    padding:10%;
    text-align: center;
    background-color: white;
    border-radius: 10PX;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    padding-bottom: 50px;
    padding-top:0;
    padding-left: 0;
    padding-right: 0;
    margin:20px;
}

.inputBox_field > h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    margin-top: 10px;
}

a{
    text-decoration: null;
}

.inputBox_field > img {
    width:10%;
    padding: 20px 0 40px 0;
}

.inputBox_field > form > button {
    margin-top: 30px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color:white;
}

